.example-card {
    max-width: 400px;
}
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .avatar-juan {
    background-image: url('../../../../assets/avatar/juan-avatar.jpg');
    background-size: cover;
  }
  .avatar-clara {
    background-image: url('../../../../assets/avatar/clara-avatar.jpg');
    background-size: cover;
  }
  .avatar-carlos {
    background-image: url('../../../../assets/avatar/carlos-avatar.jpg');
    background-size: cover;
  }
  .spacer {
    flex: 1 1 auto;
  }

  .mat-card-actions {
    display: flex;
    padding: 0;
  }

  .mat-stroked-button{
    border-color: aliceblue;
  }

  .mat-icon-button {
    margin-right: -10px;
    margin-left: -10px;
    color: #f3ca4c;
  }

  //media queries

  // 1400 px

  @media (max-width: 1400px) {
    .example-card {
      width: auto;
      margin: 3% 0;
    }
  }
   