<mat-card class="example-card" data-aos="fade-down" data-aos-duration="3000">
    <mat-card-header>
      <div mat-card-avatar [class]="alumnos.clase"></div>
      <mat-card-title>{{ alumnos.nombre }}</mat-card-title>
      <mat-card-subtitle>{{ alumnos.profesion }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="alumnos.foto" alt="imagen de {{ alumnos.nombre }}">
    <mat-card-content>
      <p>
        {{ alumnos.comentario }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button color="warn" aria-label="estrellas">
        <mat-icon>star</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="estrellas">
        <mat-icon>star</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="estrellas">
        <mat-icon>star</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="estrellas">
        <mat-icon>star</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="estrellas">
        <mat-icon>star</mat-icon>
      </button>
      <span class="spacer"></span>
      <button class="btn__margin" mat-stroked-button (click)="redirectForm()">Únete a Nosotros!!</button>
    </mat-card-actions>
  </mat-card>