<nav class="nav-desktop">
    <div class="container-desktop">
      <div>
      <ul>
        <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" aria-current="page" [routerLink]="['/inicio']">Inicio</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/servicios']">Academia</a></li>
      </ul>
    </div>
    <div>
      <img src="../../../../assets/logo/logo.png" alt="logo Jose Parrilla">
    </div>
    <div>
      <ul>
        <li><a routerLinkActive="active" [routerLink]="['/about']">Sobre Mi</a></li>
        <li><a routerLinkActive="active" class="contacto-cursor" (click)="redirectForm()">Contacto</a></li>
      </ul>
    </div>
    </div>    
</nav>
