mat-vertical-stepper {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    max-width: 450px;
    margin-top: 12%;
}

p {
    text-align: justify;
    word-spacing: 2px;
    line-height: 30px;
    color: #9b9aa4;
    margin: 2% 0;
}



