
  <mat-vertical-stepper animationDuration="800ms" color="primary" [linear]="true" >
    <mat-step matStepperIcon="check">
        <ng-template matStepLabel class="item__stepper">Tutorias Personalizadas</ng-template> 
        <p>Trabajaremos en profundidad la parte especifica hasta llegar a dominarla con 
            retos orientados a mejorar la lógica de programación.</p>       
    </mat-step>
    <mat-step >
        <ng-template matStepLabel>Trabajos de evaluación contínua</ng-template>
        <p>Realizaré la practica correspondiente y grabaré un video explicativo en el cual, te explicare linea 
            por linea el funcionamiento del código y así comprenderas el porqué de todo.</p>          
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Trabajos fin de grado/carrera</ng-template>
      <p>Se desarrollara el trabajo orientado en proyectos reales. Se trabajará bajo metodologías ágiles y a su finalización, 
        se realizara un video  explicando cada parte y funcionalidad de la aplicación.</p>      
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Apoyo examenes online</ng-template>
      <p>Te daré soporte durante toda la prueba para que los nervios no te jueguen ninguna mala pasada 
        y tengas el apoyo técnico necesario para realizar el examen de manera óptima.</p>      
    </mat-step>
  </mat-vertical-stepper>