

$fondo : #161616;
$principal : #FFFFFF;
$secundario : #0802B3;
$texto : #9B9AA4;

.landing-page {
    height: 100vh;
    width: 100vw;
    background-image: url('../../../assets/fondos/joseParrilla2.jpg');
    /* Centramos el fondo horizontal y verticalmente */
    background-position: center center;
    /* El fonde no se repite */
    background-repeat: no-repeat;
    /* Fijamos la imagen a la ventana para que no supere el alto de la ventana */
    background-attachment: fixed;
    /* El fonde se re-escala automáticamente */
    background-size: cover;
}

.contenedor-landing {
    height: 80vh;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 250px;
    }

}



.margenes {
    margin-bottom: 10px;
}

h5 {
    color: $texto;
}

//Contacto

.contenido-contacto {
    padding-right: 0;
}


.contenedor-contacto {
    padding-left: 10px;
    margin-top: 10px;
    height: 90vh;
}

.contact-info {
    margin-top: 10px;
    height: 30vh;

}

.contact-info span {
    color: $secundario;
}

.contact-info p {
    color: $texto;
}

.formu {
    height: 40vh;
}

.formu form > input, textarea {
    width: 90%;
    margin-left: 5px;
    padding: 10px;
    margin-top: 1rem;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $texto;
    color: $principal;
}
.formu span {
    color: $secundario;
}
.formu button {
    margin-top: 10px;
}


@media screen and (min-width: 300px) and (max-width: 600px) {

    .landing-page {
        height: 110vh;
        width: 100vw;
        background-image: url('../../../assets/fondos/joseParrilla2.jpg');
        /* Centramos el fondo horizontal y verticalmente */
        background-position: center center;
        /* El fonde no se repite */
        background-repeat: no-repeat;
        /* Fijamos la imagen a la ventana para que no supere el alto de la ventana */
        background-attachment: fixed;
        /* El fonde se re-escala automáticamente */
        background-size: cover;
    }
  

    .oculto {
        display: none;
    }
    .margenes {
        margin-top: 250px;
        display: flex;
        align-items: center;
        justify-content: center;

        .degradado {
            background-color: rgba(0, 0, 0, 0.672);
            max-width: 70%;
            border-radius: 5px;
            box-shadow: blanchedalmond;
            h2 {
            margin-bottom: 20px;
            margin-top: 50px;
        }
        }

        
    }

}