
<div class="container-fluid landing-page">
    <app-header></app-header>
    <div class="row contenedor-landing align-items-center">
      <div class="col-md-6 col-sm-12 text-center contenido-landing  oculto">
          <h1>Software Developer</h1>
          <h5>
            Ayudo A Estudiantes de DAW y DAM<br> <br>
        TE FORMO EN LAS NUEVAS TECNOLOGÍAS
          </h5>
          
      </div>
      <img src="../../../assets/avatar/avatar.png" alt="">
      <div class="col-md-6 col-sm-12 text-center contenido-landing margenes">
          <div class="degradado">
              <h2>¿Quieres aprender a programar?</h2>
        <button type="button" (click)="redirectForm()" class="btn btn-primary">Únete!! <i class="fas fa-envelope"></i></button>
          </div>
          
      </div>
      
    </div>
  </div>


    

<section class="container-fluid contenido-contacto">
    <div class="row contenedor-contacto justify-content-center align-items-center">
        <div class="contact-info col-sm-12 col-md-12 col-lg-6 text-center contact" data-aos="fade-down" data-aos-duration="2000" id="formulario">
            <h2 class="font-weight-bold">Contacto <span>.</span> </h2>
            <p>
                El número de usuarios de internet en el mundo crece <br> un 7,3% y alcanza los 4.660 millones (2021)

            </p>
            <h3>¡A que esperas!</h3>
        </div>
        <div class="formu col-sm-12 col-md-12 col-lg-6 text-center" data-aos="fade-up" data-aos-duration="3000">
            <h2>Tomemos café y <span>charlemos.</span></h2>
            <form   class="formu"
                    [formGroup]="userForm"
                    (ngSubmit)="submitForm()">

                <input type="text" 
                        formControlName="nombre" 
                        placeholder="Nombre">

                <input type="email" 
                        formControlName="email"  
                        placeholder="Email">
                <textarea 
                        formControlName="mensaje"  cols="30" rows="1" placeholder="Mensaje"></textarea>

                        <button type="button"
                                class="btn btn-primary btn-lg btn-block"
                                [disabled]="userForm.invalid"
                                (click)="submitForm()">
                                {{bloqueado()}}
                            </button>
            </form>

        </div>
    </div>
    
        
    
</section>
<app-footer></app-footer>

