
    <form data-aos="fade-down" 
          data-aos-duration="2000"
          [formGroup]="userForm"
          (ngSubmit)="submitForm()"
          id="formulario">
        <mat-form-field appearance="fill" color="primary">
            <mat-label>Nombre</mat-label>
            <input matInput 
                    placeholder="Brad Pit"
                    formControlName="nombre">
        </mat-form-field>

        <mat-form-field appearance="fill" color="basic">
            <mat-label>Entra tu email</mat-label>
            <input matInput 
                    placeholder="madona@example.com" 
                    required
                    formControlName="email">
            <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" color="basic">
            <mat-label>Cuentame!!</mat-label>
            <textarea matInput formControlName="mensaje"></textarea>
        </mat-form-field>

        <button mat-raised-button 
                color="primary" 
                class="btn__send" 
                type="submit"
                [disabled]="userForm.invalid">{{ bloqueado() }}</button>
    </form>
