
    <form>
        <mat-form-field appearance="fill" color="primary">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Brad Pit">
        </mat-form-field>

        <mat-form-field appearance="fill" color="basic">
            <mat-label>Entra tu email</mat-label>
            <input matInput placeholder="madona@example.com" required>
            <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" color="basic">
            <mat-label>Cuentame!!</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" class="btn__send" type="submit">Enviar</button>
    </form>
