.row-academia-diferencia {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.container__diferencia{
    width: 80%;
    height: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}