<div class="row-academia-diferencia">

        <app-titulo titulo="¿Qué diferencia hay entre nosotros y las demás academia?"></app-titulo>
        <div class="container__ilustraciones">
            <app-grid-ilustraciones
            *ngFor="let ilustracion of ilustraciones; index as i"
            [ilustracion]="ilustracion"
            [index]="i">
            </app-grid-ilustraciones>
        </div>
        <div class="row__button">
            <!-- <button>Pregúntame sin compromiso</button> -->
            <button mat-raised-button color="primary">
                <mat-icon>
                    support_agent
                </mat-icon>
                Pregúntame sin compromiso
            </button>
        </div>

</div>