<main>
  <app-header></app-header>
  <div class="contenido-about">
    <div class="content-card" data-aos="fade-up"
            data-aos-duration="3000">
      <app-card></app-card>
    </div>
    <div class="content-info" data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500">
      <h2>Sobre mí <span>.</span></h2>

      <h4>Software Developer at NTT-Data (EVERIS)</h4>

      <p>

        ¿Quieres saber cómo logré trabajar en una de las cinco multinacionales más grandes del mundo, en proyectos para grandes empresas y multiculturales? Seguro que sí. <br>
        Bien, pues yo te ayudare en tu formación, pero no solo eso es importante.
        Con mis vivencias y experiencias, te orientaré para que tu carrera sea optima y no des palos de ciego y te centres en lo que de verdad buscan las empresas.
        ¿Lo quieres saber?
                       <br>
        Púes Escribeme!!!
      </p>
      <h5>
        " Que la tecnología siga siendo tecnología y las relaciones sigan siendo
        humanas "
      </h5>
    </div>
  </div>
</main>
<app-footer></app-footer>
