
$fondo: #161616;
$principal: #ffffff;
$secundario: #0802b3;
$texto: #9b9aa4;

.container__about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

