<div class="contenedor-landing">
    <div class="texto-landing">
        <img src="../../../../assets/perfil/avatar2.0.png" width="25%" alt="avatar Jose Parrilla">
        <h1>APRENDE a PROGRAMAR Desde CERO</h1>
        <p>Hola, me llamo Jose y trabajo como Software Developer para una de las Cinco Multinacionales mas importantes del Sector IT. <br>
        Te enseñaré a PROGRAMAR como se hace en proyectos reales y mejoraré tu lógica de programación para que estes preparado
        en tu dia a dia como Developer.</p>
        <div>
            <button mat-raised-button color="primary">Servicios</button>
            <button mat-raised-button color="primary">Comienza Ahora!</button>
        </div>
    </div>
    <div class="imagen-landing">
        <!-- <img src="../../../../assets/imagenes/joseParrilla-sinFondo.png" alt="Avatar Jose Parrilla"> -->
        <app-lottie class="img-lotie"></app-lottie>
    </div>
</div>
<app-technology></app-technology>
<!-- contenido card opiniones alumnos -->
<div class="contenedor-opiniones">
    <app-present></app-present>
    <app-present></app-present>
    <app-present></app-present>
</div>
