.row-academia-services {
    width: 100%;
    height: auto;
    background-color: #201f1f;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-bottom: 3%;  
}

.container__academia {
    width: 80%;
    height: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}