<footer>
    <div class="derechos">
        <p>Jose Parrilla</p>        
        <p>Todos los derechos reservados © 2022</p>        
    </div>
    <div class="redes">
        <ul>
            <li>
                <a href="https://api.whatsapp.com/send?phone=722450759&text=Hola,%20necesitaria%20información%20sobre%20:" 
                   title="Whatsapp"
                   target="_blank">
                    <img src="../../../../assets/iconos-svg/whatsapp-icon.svg" alt="icono de whatsapp">
                </a>
            </li>
            <li>
                <a href="mailto:josecparrilla@gmail.com" 
                   title="Gmail"
                   target="_blank">
                    <img src="../../../../assets/iconos-svg/google-gmail.svg" alt="icono de gmail">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/jose-manuel-calvete-parrilla-desarrollo-web/"
                   target="_blank" 
                   title="Linkedin">
                   <img src="../../../../assets/iconos-svg/linkedin-icon.svg" alt="icono de linkedin">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/jose_parrilla_dev/"
                   target="_blank" 
                   title="Instagram">
                    <img src="../../../../assets/iconos-svg/instagram-color.svg" alt="icono de instagram">
                </a>
            </li>

        </ul>
    </div>
</footer>