<div class="row-about-landing">
    <div class="container__about">
        <app-titulo 
            titulo="Conoce como pasé de ser estudiante de derecho a programador profesional."
            data-aos="fade-down"
            data-aos-duration="2000">
        </app-titulo>
        <iframe width="560" 
                height="315" 
                src="https://www.youtube.com/embed/4q50HNNarzs" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
                data-aos="fade-down"
                data-aos-duration="2000">
        </iframe>
        <button class="btn third" (click)="sendMessage()">
            ¿Te Apuntas al Cambio?
        </button>
    </div>
</div>