/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$fondo: #161616;
$principal: #ffffff;
$secundario: #0802b3;
$texto: #9b9aa4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  font-size: calc(1em + .4vw);
}

body {
  background-color: $fondo;
  color: $principal;
}

.container-fluid {
  padding-left: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 74, 74, .8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

