<div class="contenido-tecnologia">
    <div class="titulo-tech">
        <app-titulo titulo="Formamos en las Tecnologias más Demandadas"></app-titulo>
    </div>
    <div class="contenido-tech">
        <div class="dinamico-tech">
            <app-lottie-tech class="img-lottie-tech"></app-lottie-tech>
        </div>
        <div class="tecnologias" data-aos="fade-up" data-aos-duration="3000">
            <ul>
                <li><i class="lni lni-react"></i></li>
                <li><i class="lni lni-angular"></i></li>
                <li><i class="lni lni-git"></i></li>
                <li><i class="lni lni-github-original"></i></li>
                <li><i class="lni lni-nodejs-alt"></i></li>
                <li><i class="lni lni-trello"></i></li>
                <li><i class="lni lni-java"></i></li>
                <li><i class="lni lni-javascript"></i></li>
                <li><i class="lni lni-python"></i></li>
            </ul>
        </div>
    </div>
</div>